[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
"pdfminer.six" = "20201018"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
